body {
    font-family: Arial, sans-serif;
  }
  
  input, select {
    margin-bottom: 1rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 0.5rem 0;
  }

a {
    color: #1E90FF ; /* Specific blue color */
    text-decoration: none !important; /* Remove underline */
}